.authentication .sign-in {
  border: 2px solid #1d2d44;
  border-radius: 3px;
  color: #1d2d44;
  font-size: 1.5em;
  background-color: white;
}

.authentication .sign-out {
  border: 2px solid #748cab;
  border-radius: 3px;
  color: #748cab;
  font-size: 1.5em;
  background-color: white;
}
